* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
  margin: 0;
  font-family: system-ui, 'Courier New', Courier, monospace;
  color: white;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 100vw;
  height: 100vh;
  padding: 0;
}
canvas {
  display: block;
  margin: 0px;
  font-size: 16vh;
  height: 100vh;
  width: 100vw;
}
.cntr {
  position: fixed;
  bottom: 10px;
  left: 45vw;
  width: 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  border: 1px solid white;
  border-radius: 20px;
  width: 5vw;
  height: 2vw;
  background-color: transparent;
  color: white;
}

#clr, #bgClr {
  border: 1px solid white;
  border-radius: 20px;
  width: 2vw;
  height: 2vw;
  background-color: transparent;
  color: white;
}

.back {
  padding: 1vh;
  border: 1px solid white;
  text-decoration: none;
  color: white;
  background-color: #333;
  border-radius: 1vh;
  opacity: 0.8;
  position: fixed;
  top: 10px;
  left: 10px;
}