body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vh;
    background-color: #ccc;
    font-family: system-ui, 'Courier New', Courier, monospace;
}

a {
    padding: 1vh;
    border: 1px solid black;
    text-decoration: none;
    color: black;
    background-color: #fff;
    border-radius: 1vh;
    font-size: 3vh;
    opacity: 0.9;
}

a:hover {
    opacity: 1;
    transform: scale(1.1);
}

img {
    aspect-ratio: 1 / 1;
    height: 3vh;
}